body{
  text-align: center;
}
#top{
background-image: url(../assets/backgrounds/h_img.jpg);
color: aliceblue;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}
#top2{
background-image: url(../assets/backgrounds/s_image.jpg); 
background-size: cover;  
}
#move{
padding: 100px;
}
#move{
padding: 10%;
}
#serv{
padding: 5%;
color: aliceblue;
}
#form{
padding: 4%; 
}
#bott{
padding: 1%;
}
h3{
padding: 2%;
}
#hide1{
display: none;
}
#hide2{
display: none;
}